<form class="needs-validation mt-5" novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group mb-3 row">
    <div class="col-sm-12">
      <label for="nome">Nome</label>
    </div>
    <div class="col-sm-12">
      <input formControlName="nome"
        type="text"
        class="form-control"
        id="nome"
        placeholder="Nome"
        [ngClass]="aplicaCssErro('nome')"
      >
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('nome')" msgErro="Nome é obrigatório"></app-campo-control-erro>
    </div>
  </div>

  <div class="form-group mb-3 row">
    <div class="col-sm-12">
      <label for="email">Email</label>
    </div>
    <div class="col-sm-12">
      <input type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="nome@email.com"
        [ngClass]="aplicaCssErro('email')"
      >
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('email')" msgErro="Email é obrigatório"></app-campo-control-erro>
      <app-campo-control-erro [mostrarErro]="verificaEmailInvalido()" msgErro="Email Inválido"></app-campo-control-erro>
    </div>
  </div>
  <br>
  <button class="btn btn-primary" type="submit">Enviar</button>
  <button class="btn" (click)="resetar()">Cancelar</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
