<form class="needs-validation mt-5" novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()">

  <app-input-field class="col-sm-12" formControlName="nome" [classeCss]="aplicaCssErro('nome')" id="nome" placeholder="Nome" label="Nome" type="text" [control]="$any(formulario).get('nome')"></app-input-field>

  <div class="form-group mb-3 row">
    <div class="col-sm-12">
      <label for="email">Email</label>
    </div>
    <div class="col-sm-12">
      <input type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="nome@email.com"
        [ngClass]="aplicaCssErro('email')"
      >
      <app-error-msg [control]="$any(formulario).get('email')" label="Email"></app-error-msg>
      <app-campo-control-erro [mostrarErro]="verificaEmailInvalido()" msgErro="Email Inválido"></app-campo-control-erro>
      <app-campo-control-erro [mostrarErro]="formulario.get('email')?.status === 'PENDING'" msgErro="Validando email..."></app-campo-control-erro>
      <app-campo-control-erro [mostrarErro]="formulario.get('email')?.status === 'VALID'" msgErro="Email válido!"></app-campo-control-erro>
      <app-campo-control-erro [mostrarErro]="emailJaCadastrado()" msgErro="Email já cadastrado"></app-campo-control-erro>
    </div>
  </div>


  <div class="form-group mb-3 row">
    <div class="col-sm-12">
      <label for="confirmarEmail">Confirmar Email</label>
    </div>
    <div class="col-sm-12">
      <input type="confirmarEmail"
        class="form-control"
        id="confirmarEmail"
        formControlName="confirmarEmail"
        placeholder="nome@email.com"
        [ngClass]="aplicaCssErro('email')"
      >
      <app-error-msg [control]="$any(formulario).get('confirmarEmail')" label="Confirmar Email"></app-error-msg>
    </div>
  </div>


  <div formGroupName="endereco">
    <div class="form-group mb-3 row">
      <div class="col-md-3">
        <label for="cep">CEP</label>
        <input
          type="text"
          id="cep"
          class="form-control"
          formControlName="cep"
          [ngClass]="aplicaCssErro('endereco.cep')"

        >
        <app-error-msg [control]="$any(formulario).get('endereco.cep')" label="CEP"></app-error-msg>
        <!-- <app-campo-control-erro [mostrarErro]="verificaRequired('endereco.cep')" msgErro="Cep é obrigatório"></app-campo-control-erro> -->
        <!-- <app-campo-control-erro [mostrarErro]="cepInvalidoFn()" msgErro="Cep Inválido"></app-campo-control-erro> -->
      </div>
      <div class="col-md-3">
        <label for="numero">Número</label>
        <input type="text"
          id="numero"
          class="form-control"
          formControlName="numero"
          [ngClass]="aplicaCssErro('endereco.numero')"
        >
        <app-error-msg [control]="$any(formulario).get('endereco.numero')" label="Número"></app-error-msg>
        <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.numero')" msgErro="Número é obrigatório"></app-campo-control-erro> -->
      </div>
      <div class="col-md-6">
        <label for="complemento">Complemento</label>
        <input type="text"
          id="complemento"
          class="form-control"
          formControlName="complemento"
        >
      </div>
    </div>
    <div class="form-group mb-3 row">
      <div class="col-sm-12">
        <label for="rua">Rua</label>
      </div>
      <div class="col-sm-12">
        <input name="rua"
          type="text"
          class="form-control"
          formControlName="rua"
          [ngClass]="aplicaCssErro('endereco.rua')"
        >
        <app-error-msg [control]="$any(formulario).get('endereco.rua')" label="Rua"></app-error-msg>
        <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.rua')" msgErro="Rua é obrigatório"></app-campo-control-erro> -->
      </div>
    </div>
    <div class="form-group mb-3 row">
      <div class="col-md-5">
        <label for="bairro">Bairro</label>
        <input type="text"
          id="bairro"
          class="form-control"
          formControlName="bairro"
          [ngClass]="aplicaCssErro('endereco.bairro')"
        >
        <app-error-msg [control]="$any(formulario).get('endereco.bairro')" label="Bairro"></app-error-msg>
        <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.bairro')" msgErro="Bairro é obrigatório"></app-campo-control-erro> -->
      </div>
      <!-- <div class="col-md-4">
        <label for="cidade">Cidade</label>
        <input type="text"
          id="cidade"
          class="form-control"
          formControlName="cidade"
          [ngClass]="aplicaCssErro('endereco.cidade')"
        >
        <app-error-msg [control]="$any(formulario).get('endereco.cidade')" label="Cidade"></app-error-msg>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cidade')" msgErro="Cidade é obrigatório"></app-campo-control-erro>
      </div> -->

      <div class="col-md-4">
        <label for="cidade">Cidade</label>
        <select
          id="cidade"
          class="form-control"
          formControlName="cidade"
          [ngClass]="aplicaCssErro('endereco.cidade')"
        >
          <option [value]="cidade.nome" *ngFor="let cidade of cidades">
            {{ cidade.nome }}
          </option>
        </select>
        <app-error-msg [control]="$any(formulario).get('endereco.cidade')" label="Cidade"></app-error-msg>
        <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.estado')" msgErro="Estado é obrigatório"></app-campo-control-erro> -->
      </div>

      <div class="col-md-3">
        <label for="estado">Estado</label>
        <select
          id="estado"
          class="form-control"
          formControlName="estado"
          [ngClass]="aplicaCssErro('endereco.estado')"
        >
          <option [value]="estado.sigla" *ngFor="let estado of estados">
            {{ estado.nome }}
          </option>
        </select>
        <app-error-msg [control]="$any(formulario).get('endereco.estado')" label="Estado"></app-error-msg>
        <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.estado')" msgErro="Estado é obrigatório"></app-campo-control-erro> -->
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      <label for="cargo">Cargo</label>
      <select
        id="cargo"
        class="form-control"
        formControlName="cargo"
        [compareWith]="compararCargos"
      >
        <option [ngValue]="cargo" *ngFor="let cargo of cargos">
          {{ cargo.desc }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="tecnologias">Tecnologias</label>
      <select
        id="tecnologias"
        class="form-control"
        formControlName="tecnologias"
        multiple
      >
        <option [value]="tecnologia.nome" *ngFor="let tecnologia of tecnologias">
          {{ tecnologia.desc }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="newsletter">Newsletter</label>
      <div class="row" id="newsletter">
        <div class="form-check form-check-inline col-4" *ngFor="let item of newsletterOp">
          <input class="form-check-input" type="radio" formControlName="newsletter"  [value]="item.valor">
          <label class="form-check-label"> {{ item.desc }} </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row mt-4">
    <div class="col-md-3">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="termos" formControlName="termos" [ngClass]="aplicaCssErro('termos')">
        <label class="form-check-label" for="termos">Aceito os termos.</label>
      </div>

      <app-error-msg [control]="$any(formulario).get('termos')" label="Aceitar os termos"></app-error-msg>
      <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('termos')" msgErro="É obrigatório aceitar os termos."></app-campo-control-erro> -->
    </div>

    <div class="col-md-3">
      <label for="frameworks">Frameworks</label>
      <div class="row justify-content-around" id="frameworks">
        <div
          class="form-check form-check-inline col-sm-2"
          formArrayName="frameworks"
          *ngFor="let item of formData.controls; let i = index"
        >
          <input
            class="form-check-input"
            type="checkbox"
            id="frameworks"
            [formControlName]="i"
            [ngClass]="aplicaCssErro('frameworks')"
            >
          <label class="form-check-label" for="frameworks">{{ frameworks[i] }}</label>
        </div>
      </div>

      <app-error-msg [control]="$any(formulario).get('frameworks')" label="Frameworks"></app-error-msg>
      <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('frameworks')" msgErro="Selecione uma opção."></app-campo-control-erro> -->
    </div>
  </div>

  <br>
  <button class="btn btn-primary me-3" type="submit">Enviar</button>
  <button class="btn btn-default me-3" (click)="resetar()">Cancelar</button>
  <button class="btn btn-info me-3" (click)="setarCargo()">Cargo</button>
  <button class="btn btn-info me-3" (click)="setarTecnologias()">Tecnologias</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
