<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-exemplo-ng-content>
  Conteúdo paddo para esse component
  <app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content> -->
<!-- <app-exemplo-ng-content>
  <div class="title">Panel heading without title</div>
  <div class="body">Conteúdo paddo para esse component</div>
  <div class="body">Conteúdo paddo para esse component 2</div>
</app-exemplo-ng-content> -->
<app-diretivas-customizadas></app-diretivas-customizadas>
